#red {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 25px;
    left: 25px;
}

#blue {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 30px;
    left: 100px;
}