#red {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 20px;
    left: 74px;
}

#blue {
    width: 10px;
    height: 10px;
    position: absolute;
    top: 20px;
    left: 87px;
}

#canvas {
    justify-self: center;
}

#bluewinner {
    display: none;
}

#redwinner {
    display: none;
}